body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-pdf__Page {
  margin-top: 10px;
}

.react-pdf__Page__annotations.annotationLayer {
  display: none;
}

.react-pdf__Page__canvas {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}
.PageButtons {
  text-align: center;
}

.myMessage {
  background: #dcf8c6 !important;
}

.agentMessage {
  background:  #FFFFFF !important;
}

.messageColor {
  background-color: #ECE5DD !important;
}